<!--
<div>
  <form #formRef="ngForm"
        (ngSubmit)="onSubmit(formRef.value)">
    <fieldset ngModelGroup="login">
      <label>
        <input type="text"
               name="username"
               [(ngModel)]="username"
               #usernameRef="ngModel"
               required
               minlength="3"
               (focus)="clearUsername()"
               [class.defalutColor]="defaultUsernameColor"
        />
      </label>
      <div *ngIf="usernameRef.errors?.required">this is required</div>
      <div *ngIf="usernameRef.errors?.minlength">should be at least 3 charactors</div>
      <div *ngIf="auth?.hasError">{{auth.errMsg}}</div>
      <label>
        <input type="text"
               name="password"
               [(ngModel)]="password"
               #passwordRef="ngModel"
               required
               (focus)="clearPassword()"
               [class.defalutColor]="defaultPasswordColor"
        />
      </label>
      <div *ngIf="passwordRef.errors?.required">this is required</div>
      <button type="submit">Login</button>
    </fieldset>
  </form>
</div>
-->

<div
  class="mdl-grid mdl-grid--no-spacing login-container"
  [ngStyle]="{'background-image': 'url(' + photo + ')'}"
>
  <mdl-layout-spacer class="mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--hide-phone"></mdl-layout-spacer>
  <form
    class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--4-col-phone login-form"
    (ngSubmit)="onSubmit()">
    <mdl-textfield
      type="text"
      label="Username..."
      name="username"
      floating-label
      required
      [(ngModel)]="username"
      #usernameRef = "ngModel"
      (focus)="clearUsername()"
    >
    </mdl-textfield>
    <div *ngIf="auth?.hasError">{{auth.errMsg}}</div>
    <mdl-textfield
      type="password"
      label="Password..."
      name="password"
      floating-label
      required
      [(ngModel)]="password"
      #passwordRef = "ngModel"
      (focus)="clearPassword()"
    >
    </mdl-textfield>
    <button
      mdl-button mdl-button-type="raised"
      mdl-colored="primary"
      mdl-ripple type="submit"
      [@loginState]="loginBtnState"
      (mouseenter)="toggleLoginState(true)"
      (mouseleave)="toggleLoginState(false)"
    >
      Login
    </button>
    <button
      mdl-button
      mdl-colored="accent"
      (click)="register($event)">
      Register
    </button>
  </form>
  <mdl-layout-spacer></mdl-layout-spacer>
</div>
