<div>
  <form #formRef="ngForm"
        (ngSubmit)="onSubmit(formRef.value)">
    <fieldset ngModelGroup="login">
      <label>
        <input type="text"
               name="username"
               [(ngModel)]="username"
               #usernameRef="ngModel"
               required
               minlength="3"
               (focus)="clearUsername()"
               [class.defalutColor]="defaultUsernameColor"
        />
      </label>
      <div *ngIf="usernameRef.errors?.required">this is required</div>
      <div *ngIf="usernameRef.errors?.minlength">should be at least 3 charactors</div>
      <div *ngIf="auth?.hasError">{{auth.errMsg}}</div>
      <label>
        <input type="text"
               name="password"
               [(ngModel)]="password"
               #passwordRef="ngModel"
               required
               (focus)="clearPassword()"
               [class.defalutColor]="defaultPasswordColor"
        />
      </label>
      <div *ngIf="passwordRef.errors?.required">this is required</div>
      <button type="submit">Login</button>
    </fieldset>
  </form>
</div>
