<section class="main" *ngIf="todos?.length > 0">
  <!--<input class="toggle-all" type="checkbox" (click)="doToggleAllTriggered()">-->
  <mdl-icon-toggle class="toggle-all" [mdl-ripple]="true" (click)="doToggleAllTriggered()">expand_more</mdl-icon-toggle>
  <ul class="todo-list">
    <li *ngFor="let todo of todos" [class.completed]="todo.completed">
      <app-todo-item
        [isChecked]="todo.completed"
        (doToggleTriggered)="doToggleTriggered(todo)"
        (doRemoveTriggered)="doRemoveTriggered(todo)"
        [todoDesc]="todo.desc">
      </app-todo-item>
    </li>
  </ul>
</section>
